body {
    background-color: rgb(36, 36, 36);
    color: rgb(140, 176, 189);
    margin:0px;
}

.content-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    min-width: 300px;
    min-height: 99vh;
    padding:5px 60px;
}

.page-header {
    margin:20px;
    text-align: center;
    font-size: 60px;
}

.input-container {
    display: flex;
    justify-content: center;
}